---
import { prisma, timeAgo, buildQueryString } from '../common';
import _ from 'lodash';
import { decode } from 'html-entities';
import '../styles/index.scss';
import Layout from '../layouts/Layout.astro';
import Filters from '../components/Filters.astro';
import Pagination from '../components/Pagination.astro';

const { truncate } = _;

const limit = 10;
const page = parseInt(Astro.url.searchParams.get('page') || '1');
const sourcesQuery = Astro.url.searchParams.getAll('sources[]');

const filterCondition = {
  where: {
    source:
      sourcesQuery.length > 0
        ? {
            name: {
              in: sourcesQuery,
            },
          }
        : undefined,
  },
};

const currentPageIndex = page ? (page - 1) * limit : 0;
const noticesCount = await prisma.notice.count(filterCondition);
const notices = await prisma.notice.findMany({
  orderBy: [
    {
      publishedDate: 'desc',
    },
    {
      title: 'desc',
    },
  ],
  ...filterCondition,
  include: {
    source: true,
  },
  take: limit,
  skip: currentPageIndex,
});

const sources = await prisma.source.findMany();

// Removes html tags and escaped html tags
const printToHtmlAndTruncate = (text: string, length: number) => {
  // If id is in cache return it
  const htmlString = decode(text, { level: 'html5' });
  const html = htmlString.replace(/<[^>]*>?/gm, '');
  // Set cache for notice here
  // Double encoding because of stupid strings from reddit like this I&amp;#39;m
  return truncate(decode(html), { length, separator: '...' });
};

const toRelativeDate = (date: Date | null) => {
  if (!date) {
    return 'Unknown';
  }
  return timeAgo.format(date);
};
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col lg:flex-row h-screen w-full min-w-[320px]">
    <section class="bg-gray-100 p-2 sticky top-0 space-y-8">
      <span class="flex justify-between">
        <h1 class="text-2xl font-bold tracking-wide">Wemeowt</h1>
        <label class="block-inline lg:hidden" for="filter-menu">Filters</label>
      </span>
      <div class="hidden lg:contents">
        <Filters sources={sources} sourcesQuery={sourcesQuery} />
      </div>
    </section>
    <input type="checkbox" class="peer/menu hidden" id="filter-menu" />

    <div
      class="fixed right-0 z-40 h-full w-full translate-x-full overflow-y-auto overscroll-y-none transition duration-500 peer-checked/menu:translate-x-0 bg-gray-500"
    >
      <label class="block-inline lg:hidden" for="filter-menu">Filters</label>
      <Filters sources={sources} sourcesQuery={sourcesQuery} />
    </div>
    <section class="flex flex-col w-full max-h-screen overflow-y-auto relative space-y-2 bg-gray-500">
      <div class="p-2 space-y-2">
        {
          notices.map((notice, i) => {
            const bg = i % 2 === 0 ? 'bg-gray-200' : 'bg-gray-300';
            return (
              <div class={`flex flex-col p-2 rounded-xl ${bg} shadow-sm border border-neutral-800 space-y-1 md:p-4`}>
                <p class="font-bold">{notice.title}</p>
                <p class="text-xs font-extralight hover:text-primary-200">
                  <a class="underline" href={notice.source.homepage}>
                    {notice.source.name}
                  </a>
                </p>
                <p class="hidden md:block">{printToHtmlAndTruncate(notice.body, 200)}</p>
                <p class="text-xs font-extralight">{toRelativeDate(notice.publishedDate)}</p>
                <hr />
                <div class="flex justify-end flex-col md:flex-row space-x-0 space-y-2 md:space-y-0 md:space-x-4">
                  <a class="block" href={`/${notice.id}`}>
                    <button class="border border-neutral-800 rounded-xl py-2 px-8 md:px-5 w-full md:w-fit font-bold text-neutral-300">
                      Details
                    </button>
                  </a>
                  <a class="block" href={notice.url}>
                    <button class="border border-primary-200 rounded-xl py-2 px-8 md:px-5 w-full md:w-fit font-bold text-primary-200">
                      Apply
                    </button>
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>
      <Pagination
        currentPageIndex={currentPageIndex}
        noticesCount={noticesCount}
        noticesLength={notices.length}
        page={page}
        sourcesQuery={sourcesQuery}
        limit={limit}
      />
    </section>
  </div>
</Layout>
