---
import type { Source } from '@prisma/client';

export interface Props {
  sources: Source[];
  sourcesQuery: string[];
}

const { sources, sourcesQuery } = Astro.props;
// Random number
const id = Math.random().toString(36).substring(7);
const nameify = (name: string) => {
  return name + id;
};
---

<form action="/jobs" method="GET" class="flex flex-1 flex-col space-y-2 overflow-y-auto">
  {
    sources.map((source, i) => {
      return (
        <span class="block">
          <input
            id={nameify(source.name)}
            name="sources[]"
            value={source.name}
            class="hidden"
            type="checkbox"
            checked={sourcesQuery.includes(source.name)}
          />
          <label
            class={`source flex justify-between cursor-pointer items-center border w-full border-neutral-950 p-2 md:p-4 rounded-xl bg-gray-200 source-parent`}
            for={nameify(source.name)}
          >
            {source.name}
          </label>
        </span>
      );
    })
  }
  <button type="submit" class="p-2 md:p-4 font-bold rounded-xl border border-neutral-950 bg-gray-50 w-full">
    Filter</button
  >
</form>
<div class="space-y-2 flex-grow justify-end flex flex-col">
  <a href="/about" class="font-bold block">
    <div
      class="flex flex-row p-1 py-4 border border-neutral-500 space-x-2 rounded-xl bg-primary-200 justify-center items-center"
    >
      About
    </div></a
  >
  <!-- <a href="https://discord.gg/H2HQhtBect">
    <div
      class="flex flex-row p-1 py-4 border border-neutral-700 space-x-2 rounded-xl bg-neutral-900 justify-center items-center"
    >
      <img
        class="h-[24px] w-[24px]"
        src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6ca814282eca7172c6_icon_clyde_white_RGB.svg"
        alt="Discord Banner"
      />
      <span class="font-bold block">Discord</span>
    </div>
  </a> -->
</div>
